doctype html
html
  head
    title ForwardBar
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='../assets/styles.scss')
    link(rel='stylesheet' type='text/css' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css')
  body
    .page-hero
      .page-hero__logo
      .page-hero__contacts
        p
          a(href="tel:+78129878727").phone-btn #[i.fa.fa-phone.fa-flip-horizontal]+7 (812) 987-87-27
        p
          a(href="#").text-link ул. Всеволода Вишневского, 3
    .page-menu
    nav.site-nav
      img(src='../assets/img/logo/forvard_logo_clean_white.png').site-nav__logo
      .menu-dropdown
        ul.menu-dropdown_item.menu-dropdown__nav-menu
          li: a(href='#').active Главная
          li: a(href='#') О нас
          li: a(href='#') Меню
          li: a(href='#') Бизнес ланч
          li: a(href='#') Контакты
        ul.menu-dropdown_item.menu-dropdown__social-links
          li
            a(href='https://www.instagram.com/lonestrikerbar', target='_blank')
              i.fab.fa-instagram
          li
            a(href='https://vk.com/lonestriker', target='_blank')
              i.fab.fa-vk
          li
            a(href='https://ru.foursquare.com/v/бар-блуждающий-форвард/5a78cd7a8e886a3178bd6f36', target='_blank')
              i.fab.fa-foursquare
      button.menu-toggle.hamburger.hamburger--squeeze
        span.hamburger-box
          span.hamburger-inner
    script(src="../assets/main.js")

