@mixin list-no-style {
  list-style: none;
  padding: 0;
}

@mixin font-header {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
}

@mixin font-main {
  font-family: 'Open Sans', sans-serif;
}

// breakpoints:
$scren-sm: 540px;
$scren-md: 720px;
$scren-lg: 960px;
$scren-xl: 1140px;

// colors:
$color-white: #fefefa;

// hamburgers settings:
$hamburger-layer-color: $color-white;
$hamburger-hover-opacity: 0.9;

@import "~normalize.css/normalize.css";
@import "node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "./fontello-cab91cd3/css/fontello.css";
// my components
@import "blocks/page-hero/page-hero.scss";
@import "blocks/menu-dropdown/menu-dropdown.scss";
@import "blocks/site-nav/site-nav.scss";
@import "blocks/menu-toggle/menu-toggle.scss";
@import "blocks/page-menu/page-menu.scss";
@import "blocks/page-about/page-about.scss";
@import "blocks/carousel/carousel.scss";
// food
@import "blocks/food-list/food-list.scss";
@import "blocks/food-type/food-type.scss";
@import "blocks/menu-line/menu-line.scss";
@import "blocks/nav-tabs/nav-tabs.scss";
@import "blocks/page-lunch/page-lunch.scss";

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font-main;

  line-height: 1.4;
  margin: 0;
}

h1,
h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  transform: scale(0.5);
}

.phone-btn {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0.6em 0.8em;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.3);

  i {
    margin-right: 0.6em;
  }
}

.text-link {
  color: inherit;
  font-size: 0.9rem;
}

.anchor-indent {
  border-top: 54px solid transparent;
  margin-top: -54px;
  background-clip: padding-box;
}
