.page-hero
  .page-hero__logo
  .page-hero__contacts
    p
      a(href="tel:+78129878727").phone-btn #[i.fa.fa-phone.fa-flip-horizontal]+7 (812) 987-87-27
    p
      a(href="#").text-link ул. Всеволода Вишневского, 3
