.fullscreen-gallery {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.95);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }

  &__inner {
    position: relative;
    min-width: 30%;
    padding: 10%;
  }

  &__img {
    position: relative;
    display: block;
    max-height: 80vh;
    max-width: 80vw;
  }
}
