.food-type {
  @include list-no-style;

  text-align: center;

  &__header {
    // display: inline-block;
    line-height: 1.3;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    // text-decoration: underline;
    padding: 0.8em 3px;
    // border-bottom: 1px solid black;
    cursor: pointer;

    &--hidden {
      display: none;
    }

    &::before,
    &::after {
      // content: ' - ';
    }
  }
}
