.food-type {
  @include list-no-style;

  text-align: center;

  &__button {
    position: relative;
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;

    &:active {
      color: inherit;
    }
  }

  &__header {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 300;
    margin: 0.8em;
    padding: 0 3px;
    cursor: pointer;
    position: relative;
    // text-transform: uppercase;
    // border-bottom: 1px solid black;
    // text-decoration: underline;

    &--hidden {
      display: none;
    }

    &::before,
    &::after {
      content: ' - ';
      // position: relative;
      // display: inline-block;
      // width: 18px;
      // height: 0;
      // border-bottom: 2px solid black;
      // bottom: 0.3em;
    }

    &::before {
      right: 10px;
    }

    &::after {
      left: 10px;
    }
  }
}
