.food-list {
  @include list-no-style;

  background-color: #fffdfc;
  box-shadow: inset 0 5px 8px 0 rgba(0, 0, 0, 0.15), inset 0 -2px 8px 0 rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  text-align: left;

  &.only {
    box-shadow: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em 1em;
    max-width: 500px;
    margin: 0 auto;
  }

  &__item {
    padding: 0.7em 2em;
  }

  &__item-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid green;
  }

  &__item-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }

  &__item-price {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;

    &::after {
      content: "\20BD";
      font-weight: 400;
      padding-left: 0.15em;
    }
  }

  &__item-description {
    margin: 0;
    margin-top: 0.3em;
    font-size: 1rem;
    font-style: italic;
    max-width: 70%;
  }

  @media (min-width: $scren-lg) {
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      width: $scren-lg;
      max-width: none;
    }

    &__item {
      flex: 1 0 50%;
      max-width: 50%;
    }
    // &__item-name {

    // }

    // &__item-header {

    // }

    // &__item-description {

    // }
  }
}
