
.icon-beer-1:before { content: '\e800'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-wine:before { content: '\e802'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */